*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

ul{
    list-style: none;
    margin: none;
    padding: none;
}

ul li a{
    text-decoration: none;
}

div img{
    display: block;
    width: 100%;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}

header{
    background-color: #122A57;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
}

header .list-items{
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.list-items li a{
    color: #fff;
}

header .menu{
    justify-content: space-between;
}

.apresentacao{
    height: 80vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .texto-apresentacao{
    min-height: 200px;
}

.apresentacao .texto-apresentacao h1{
    color: #122A57;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn{
    background-color: #122A57;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    height: 50px;
    display: block;
    text-decoration: none;
    line-height: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#quem-somos{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
}

#quem-somos h2{
    font-size: 32px;
    color: #122A57;
    display: flex;
    margin-bottom: 20px;
}

#quem-somos h2::before{
    content: "";
    height: 40px;
    width: 6px;
    margin-right: 5px;
    background-color: #122A57;
    position: relative;
}

#quem-somos p{
    margin-bottom: 10px;
    width: 90%;
}

#quem-somos img{
    min-width: 520px;
}

.container-externo{
    background-color: #122A57;
    width: 100%;
}

#servicos{
    flex-direction: column;
    padding: 50px 0 100px 0;
}

#servicos h2{
    color: white;
    font-size: 32px;
    margin-bottom: 30px;
    justify-content: center;
    display: flex;
}

.list-servicos{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 30px;
}

.list-servicos .item-servico{
    text-align: center;
}

.item-servico a{
    width: 220px;
    background-color: #fff;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    margin-top: 20px;
    padding: 5px 10px;
    color:#122A57;
    font-size: 16px;
    font-weight: 700;
}

.item-servico p{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}

.item-servico img{
    width: 80%;
    margin: auto;
}

.item1{
    position: relative;
    bottom: 2px;
}

.item3{
    position: relative;
    bottom: 6px;
}

#planos{
    flex-direction: column;
    min-height: 100vh;
    margin-top: 50px;
}

#planos h2{
    font-size: 32px;
}

.list-planos{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-plano{
    flex: 1;
    border: 5px solid #122A57;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
}

.item-plano .btn{
    margin: auto;
    margin-bottom: 20px;
}

.item-plano h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}

.item-plano h3::after{
    content: "";
    background-color:#122A57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-plano ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.item-plano ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    line-height: 40px;
}

.item-plano ul li::before{
    content: "";
    background-color: #122A57;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

footer{
    background-color: #122A57;
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

footer .footer{
    justify-content: space-between;
}