*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

ul{
    list-style: none;
    margin: none;
    padding: none;
}

ul li a{
    text-decoration: none;
}

div img{
    display: block;
    width: 100%;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}

header{
    background-color: #122A57;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
}

header .list-items{
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.list-items li a{
    color: #fff;
}

header .menu{
    justify-content: space-between;
}

.apresentacao{
    height: 80vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .texto-apresentacao{
    min-height: 200px;
}

.apresentacao .texto-apresentacao h1{
    color: #122A57;
    font-size: 48px;
    margin-bottom: 10px;
}

.texto-apresentacao a{
    background-color: #122A57;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 160px;
    height: 50px;
    display: block;
    text-decoration: none;
    line-height: 50px;
    margin-top: 15px;
}

#quem-somos{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
}

#quem-somos h2{
    font-size: 32px;
    color: #122A57;
    display: flex;
    margin-bottom: 20px;
}

#quem-somos h2::before{
    content: "";
    height: 40px;
    width: 6px;
    margin-right: 5px;
    background-color: #122A57;
    position: relative;
}

#quem-somos p{
    margin-bottom: 10px;
    width: 90%;
}

#quem-somos img{
    min-width: 520px;
}